body{
    margin: 0px;
    display: flex;
}

main{
    width: calc(100vw - 500px);
}

aside.sidebar-esquerda,
aside.sidebar-direita{
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

aside.sidebar-esquerda ul,
aside.sidebar-direita ul{
    list-style-type: none;
    padding: 0px;
}

aside.sidebar-direita ul{
    margin: 0px;
}

aside.sidebar-esquerda ul li,
aside.sidebar-direita ul li{
    padding: 10px;
    cursor: pointer;
}

aside.sidebar-esquerda ul li:hover,
aside.sidebar-direita ul li:hover{
    background-color: #575757;
}

aside.sidebar-direita ul ul{
    list-style-type: none;
    padding-left: 10px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.7s;
}

aside.sidebar-direita ul li:hover> ul{
    max-height: 500px
}

aside.sidebar-direita ul ul li{
    padding: 10px;
}

aside.sidebar-direita ul ul li:hover{
    background-color: #666;
}

.hidden-items{
    display: none;
}

.toggle-button{
    background-color: #444;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.toggle-button:hover{
    background-color: #575757;
}